@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@1,9..40,300&display=swap');

body {
    margin: 0;
    background-color: #f2f2f2;
}

/*
.top_header {
    background-color: #222326;
    height: 45px;
    border-bottom: 1px solid #414326;
}


.navbar-default {
    background: none;
    border: 0;
}
*/

.container-fluid, .navbar {
    color: #bbbbc1; 
    position: absolute;
    font-size: 15px;
    height: 45px;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
}

.navbar-nav {
    flex-direction: row;
}

li {
    margin-left: 20px;
}

.navbar-nav>li>a {
    color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 12px;
    padding-right: 7px;
    padding-top:3px;
    padding-left: 7px;
    border-top-left-radius: 4px;
    border-top-right-radius:4px; 
}

.navbar-nav>li>a:hover {
    color: #000000;
    background-color: #67a9839d;
    border-bottom: 1px solid #000000;
}

.main_header {
    height: 235px;
    background-color: #2d3034;
}

.custom-logo-link{
    height: 10%;
    padding:5%;
}

.custom-logo-link>li:hover {
    background-color:#2d3034;
    cursor:auto; 
}

.custom-logo {
    height: 200px;
    width: auto;
    margin-left: 2%;
}

.main_nav {
    border-top: 2px solid #717171;
    border-left: 2px solid #717171;
    border-right: 2px solid #717171;
    margin-top: -.65%;
    height:100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.main_nav_border {
    height:100%;
    

}

.nav>li>a {
    background:none;
    text-decoration:none;
    color: #bebfc1; 
    padding-top:1px;
    padding-bottom: 20px;
    padding-left: 2px;
    padding-right: 2px;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background: #393e45;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 2px solid white;
}



.search_area {
    float: right;
    margin-top: -20px;
    margin-right: 15px;
}

/*
.search-field {
    border: none;
    background-color: #282b2f;
    height: 32px;
    width: 170px;
    font-size: 13px;
    padding: 10px;
    outline: 0;
    color: white;
    margin-top: 1px;
    border-radius: 2px;
    margin-right: 10px;
}

.search_submit {
    border: none;
    background-color: #3e4145;
    height: 32px;
    color: white;
    font-size:14px;
    border-radius: 2px;
    margin-right: 5px;
    cursor:auto;
}
*/

.icon img {
    height: 30px;
    width: 30px;
    margin-top: -4px;
}

.wpp_area a {
    text-decoration: none;
    color: black;
}

.contact {
    float:right;
    padding-left: 3px;
    font-weight:600;
}

.contact:hover {
    color:white;
}

.socialarea {
    background-color: #67a9839d;
    box-shadow: 2px 2px 1px #49775c9d;
    padding-top:1%;
    margin-right:3.5%;
    height:5%;
    position: relative;
    z-index: 99;
}

.titulo {
    color:rgb(0, 0, 0);
    margin-top: 30%;
    background-color: #67a9839d;
    box-shadow: 2px 2px 1px #49775c9d;
    text-align: center;
    padding-bottom:1%;
    padding-top: 1%;
    border-left:2px solid #17281e9d;
    width:250px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer {
    bottom: 0;
    
}

.footer {
    position: absolute;
    width:100%;
    background-color: #a3a0955b;
    height: 55px;
    font-family: 'DM Sans', sans-serif;
    border-top: 1px solid #0e0e0e;
}

.main_footer_left {
    float:left;
    margin-left: 2%;
    color: black;
    font-size: 15px;
    margin-top:1%;
}

.main_footer_right {
    float: right;
    margin-right: 2%;
    color: black;
    font-size: 15px;
    margin-top:1%;
}

.container {
    margin-left: 5%;
    margin-top: 6%;
}

.apresentation {
    width: 100%;
    font-size: 20px;
    margin-top: 20%;
    color: black;
    text-indent: 20px;
    font-family: 'DM Sans', sans-serif;
}

.apresentation-two {
    width: 100%;
    font-size: 20px;
    margin-top: 10%;
    color: black;
    text-indent: 20px;
    font-family: 'DM Sans', sans-serif;
}

.image-slider {
    margin-top: 10%;
}

.d-block {
    width: 400px;
    height:400px;
    align-items: center;
    object-fit: cover;
}

.carousel-inner {
    border: 2px solid #656565;
    box-shadow: 3px 3px 7px #1a1b1a9d;
    border-radius: 8px;
}

.forms {
    margin-right: 10%;
    margin-top: 12%;
    border-radius: 5px;
    background-color: #c1bbbb;
}

.wpcf7-response-output {
    color: black;
    
}

label {
    color: black;
}

.wpcf7-form-control {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #3636369d;

}

textarea {
    height:60px;
}

iframe {
    height: 400px;
    width: 600px;
    border: none;
    padding: 10px;
    background-color: #0000002a;
    margin-top: 0%;
}

.about {
    height: 50%;
    width: 600px;
    font-size: 18px;
    color: black;
    margin-top: 25%;
    text-align: start;  
    text-indent: 20px;
    
}

.about:nth-child(2){
    margin-top:8%;
    text-indent: 20px;
}





/*
    TABLET HORIZONTAL OU MONITOR MENOR
*/



@media (min-width: 992px) and (max-width: 1199px) {
    .main_nav {
        margin-top: -1.1%;
        height:100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .nav>li>a {
        padding-bottom: 20.5px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .icon img {
        margin-top: .75%;
        height:30px;
        width: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .contact {
        padding-top:2.5%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .titulo {
        margin-left: -3%;
        padding-bottom:.5%;
        padding-top: 1%;
        width:200px;
        margin-top: 40%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .titulo h1{
        font-size: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .apresentation , .apresentation-two {
        font-size: 16px;
        padding-left: 8%;
        width: 85%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .d-block {
        width:150px;
        height:250px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        margin-left: -3%;
        margin-top: 10%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .footer {
        bottom: -40%;
        width:100%;
        background-color: #47412d5b;
        height: 55px;
        position: absolute;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .main_footer_right, .main_footer_left {
        margin-top:1.5%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .about {
        font-size: 17px;
        padding-top: 55%;
        text-indent: 30px;
        text-align: right;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .about:nth-child(2) {
        padding-top:10%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    iframe {
        height: 300px;
        width: 500px;
        border: none;
        padding: 5px;
        background-color: #0000002a;
        margin-top: 55%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .forms {
        margin-top: 5%;
    }
}


/*  TABLET NA VERTICAL */

@media (min-width: 481px) and (max-width: 768px) {
    header {
        background-color: #000000;
        height: 30%;
    }
}


/*  CELULAR NA VERTICAL  */


@media (max-width: 480px) {
    .container-fluid {
        width:96%;
    }
}

@media (max-width:480px) {
    header {

    }
}

@media (max-width: 480px) {
    .container {
        margin-top: 0;
        margin-left:0;
        margin-right: 0;
        background-color: #f2f2f2;
    }
}

@media (max-width: 480px) {
    .main_nav {
        margin-left: 3%;
        margin-top: .1%;
    }

}


@media (max-width: 480px) {
     .navbar {
        display: none;
        background-color: white;
    }
}

@media (max-width: 480px) {
    li {
        margin-left: 2%;
    }
}

@media (max-width: 480px) {
    .nav>li>a {
        padding-top: .5px;
        padding-bottom: 21px;
        color: black;
    }
}

@media (max-width:480px) {
    .nav>li>a:hover,
    .nav>li>a:focus {
        background: #67a9838f;
        color:white;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom: 2px solid #635d5d;
        box-shadow: 2px 2px 2px 1px rgb(119 135 119 / 78%);
    }
}

@media (max-width: 480px) {
    .main_header {
        height: 195px;
        background-color: #CDDC39;
    }
}

@media (max-width: 480px) {
    .custom-logo {
        height: 150px;
       
    }
}

/*
@media (max-width: 480px) {
    .search-field {
        border: none;
        background-color: #282b2f;
        height: 22px;
        width: 70px;
        font-size: 9px;
        padding: 1px;
        outline: 0;
        color: white;
        margin-top: 5%;
        border-radius: 2px;
        margin-right: 2px;
    }
}

@media (max-width: 480px) {
    .search_submit {
    border: none;
    background-color: #3e4145;
    height: 22px;
    padding:3px;
    color: white;
    font-size: 9px;
    border-radius: 2px;
    margin-right: 2px;
    cursor:auto;
    }
}

@media (max-width: 480px) {
.search_area {
    float: right;
    margin-top: -20px;
    margin-right: 2px;
    }
}
*/

@media (max-width: 480px) {
    .horizontal {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .wpp_area a {
        margin-bottom:5px;    
    }
}

@media (max-width: 480px) {
    .icon img {
        height: 15px;
        width: 15px;
        margin-top: 4px;
        margin-left:-5%;

    }
}

@media (max-width: 480px) {
    .contact {
        float:right;
        font-size: 10px;
        font-weight:600;
        padding-top:7px;
        margin-right:1%; 
    }
}

@media (max-width: 480px) {
    .socialarea {
        background-color: #67a9839d;
        box-shadow: 2px 2px 1px #49775c9d;
        padding-top:2%;
        position: relative;
        z-index: 99;
        width:180px;
        padding-right: 2%;
        margin-right: 0%;
    }
}
@media (max-width: 480px) {
    .titulo h1 {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .titulo {
        color:rgb(0, 0, 0);
        margin-top: 60%;
        background-color: #67a9839d;
        box-shadow: 2px 2px 1px #49775c9d;
        text-align: center;
        margin-left: -7%;
        padding-top: 6%;
        border-left:2px solid #17281e9d;
        width:100px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        position: relative;
        z-index:99;
    }
}

@media (max-width: 480px) {
    .apresentation  {
        font-size: 12px;
        margin-top:35%;
        width:100%;
    }
}

@media (max-width: 480px) {
    .apresentation-two {
        font-size: 12px;
        margin-top:12%;
        width:100%;
    }
}

@media (max-width: 480px) {
    .image-slider {
        margin-bottom: 8%;
        margin-top:2%;
    }
}

@media (max-width:480px) {
    .d-block {
        height:230px;
        align-items: center;
        object-fit: cover;
    }
}


@media (max-width: 480px) {
    .main_footer_left, .main_footer_right {
        font-size: 10px;
        margin-top: 3%; 
    }
}

@media (max-width: 480px) {
    .about:nth-child(1) {
        font-size: 12px;
        width: 300px;
        margin-left: -20%;
        margin-top: 20%;
        text-align: right;
    }
}

@media (max-width: 480px) {
    .about:nth-child(2) {
        font-size: 12px;
        width: 300px;
        margin-left: -20%;
        margin-top: -6%;
        text-align: right;
    }
}

@media (max-width: 480px) {
    iframe {
        width: 300px;
        height: 200px;
        margin-top:20%;
        margin-left: -16%;
    }
}

@media (max-width: 480px) {
    .forms {
        margin-top: 30%;
        margin-right:15%;
        width:50%;
        font-size: 10px;
        background-color: #f2f2f2;
    }
}

@media (max-width: 480px) {
    .footer {
        width:100%;
        line-height: 7px;
        background-color: #a3a0955b;
        height: 30px;
        bottom: 0;
        margin-left:0;
        position:relative;
        margin-top: 12%;
    }
}